/* 标题 */
.siteHeader {
    padding: 16px;

}

.siteHeader>h1 {
    font-size: 34px;
}

/* 日历 */
.calendar {
    background-color: white;
    margin: 16px;
    border-radius: 24px;
    color: #444;
    margin-top: 32px;
    padding: 0 10px;
    box-shadow: 0px 13px 0px -6px rgba(0, 0, 0, 0.205);
}


.calendar-header {
    text-align: center;
    padding: 16px 0;
    font-size: 18px;
}

.calendar-header>time {}

.calendar-weekdays {
    display: flex;

}

.calendar-weekdays>li {
    width: 14.2%;
    text-align: center;
    height: 42px;
    line-height: 42px;
}

.calendar-days {
    display: flex;
    flex-wrap: wrap;
}

.calendar-days>li {
    width: 14.2%;
    text-align: center;
    height: 42px;
    line-height: 42px;
    position: relative;
}

.calender-days-selected{
    outline: rgba(146, 202, 255, 0.74) solid 1px;
    border-radius: 10px;
    cursor: pointer;
}
.calender-days-hasEvents::after{
    content: '';
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 4px;
    width: 6px;
    height: 6px;
    background: rgb(27, 177, 27);
}

.calendar-actions {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

.calendar-actions-left {}

.calendar-actions-left>button {}

.calendar-actions-right {
    display: flex;
}

.calendar-days>li:hover {
    cursor: pointer;
    font-size: 120%;
    color: rgb(255, 93, 52);
}

.calendar-days-gray {
    color: #aaa;
}

.calendar-actions-right>button {}

.calendar-days-today {
    background: rgba(146, 202, 255, 0.74);
    border-radius: 10px;
}

.active{
    margin: 10px;
    font-size: 18px;
}